

<div class="about">
	<h1>What we do</h1>
		<p>Our women’s clothing collections — from new arrivals and runway trends to the classics for work and weekend:<br> tops, dresses, pants and tunics; coats, jackets and sweaters.</p>
</div>
<div class="content">
</div>