<h2>Featured Product:</h2>
<%= @featured_product.name %>

def landing_page
  @products = Product.limit(3)
end

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @products.each do |product| %>
    <div class="item<%= "active" if product == @products.first %>">
    	<%= "active" if product == @products.first %>
      <div class="carousel-caption">
      	<%= product.name %>
      </div>
    </div>
    <% end %>
  </div>
    

